table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 300px;
    height: 50px;
}


tr:nth-child(even) {
    background-color: black;
}

th:nth-child(even),
td:nth-child(even) {
    background-color: black;
}

td.white {
    background-color: white;
}

table{
    border: red solid;
}